<h1>Documentaryfilm#new</h1>
<p>Find me in app/views/documentaryfilm/new.html.erb</p>

*Complete todo los parametros o no se ingresara el registro

<%= form_with url: "/documentaryfilm/create" do |form| %>
 <div>
 <%= form.label :name, "Nombre del documental" %>
 <%= form.text_field :name %>
 </div>

 <div>
 <%= form.label :synopsis, "Escriba una synopsis" %>
 <%= form.text_field :synopsis %>
 </div>

 <div>
 <%= form.label :director, "Escriba el nombre del director" %>
 <%= form.text_field :director %>
 </div>

 <div>
 <%= form.submit %>
 </div>
<% end %>